<div class="flex flex-wrap justify-around">
    <div class="card">
        <img class="w-full" src="./assets/images/spots/icon-man.png" alt="Jugador 1">
        <h2 class="p-4">Member 1</h2>
        <i class="fa-solid fa-baseball"></i>
        <p>LoremIn duis est proident voluptate fugiat aliquip incididunt aliquip Lorem non elit fugiat laboris irure. Nulla eu voluptate aliqua mollit ut non adipisicing dolor. Excepteur elit deserunt enim elit ipsum.</p>
    </div>
    <div class="card">
        <img class="w-full" src="./assets/images/spots/icon-woman.png" alt="Jugador 2">
        <h2 class="p-4">Member 2</h2>
        <i class="fa-solid fa-baseball"></i>
        <p>LoremIn duis est proident voluptate fugiat aliquip incididunt aliquip Lorem non elit fugiat laboris irure. Nulla eu voluptate aliqua mollit ut non adipisicing dolor. Excepteur elit deserunt enim elit ipsum.</p>
    </div>
    <div class="card">
        <img class="w-full" src="./assets/images/spots/icon-man.png" alt="Jugador 3">
        <h2 class="p-4">Member 3</h2>
        <i class="fa-solid fa-baseball"></i>
        <p>LoremIn duis est proident voluptate fugiat aliquip incididunt aliquip Lorem non elit fugiat laboris irure. Nulla eu voluptate aliqua mollit ut non adipisicing dolor. Excepteur elit deserunt enim elit ipsum.</p>
    </div>
    <div class="card">
        <img class="w-full" src="./assets/images/spots/icon-woman.png" alt="Jugador 4">
        <h2 class="p-4">Member 4</h2>
        <i class="fa-solid fa-baseball"></i>
        <p>LoremIn duis est proident voluptate fugiat aliquip incididunt aliquip Lorem non elit fugiat laboris irure. Nulla eu voluptate aliqua mollit ut non adipisicing dolor. Excepteur elit deserunt enim elit ipsum.</p>
    </div>
</div>