<div class="poster__grid">
    <div class="col-start-1 col-end-13 font-cursive text-8xl font-bold text-corporate leading-none">
      <h1>Tennis Tournament</h1>
      <p>The Sporting event of the year!</p>
    </div>

    <div class="w-full col-start-1 col-end-13">
      <img class="max-w-full h-auto rounded-lg" src="./assets/images/spots/photo-home.webp" alt="Tennis tournament">
    </div>

    <div class="col-start-1 col-end-13">
      <h2>Tournament Details</h2>
      <p><strong>Date:</strong> 10-15 July, 2023</p>
      <p><strong>Place:</strong> Sport Tennis club</p>
      <p><strong>Categories:</strong> Dobles and single</p>
      <p><strong>Close Date:</strong> 1 July</p>
    </div>
    <div class="col-start-1 col-end-13">
      <button type="button" class="bg-blue text-white p-2 rounded-md">Sign up here!</button>
    </div>
</div>